.events-prompt {
  min-width: 500px;
  min-height: 150px;
  margin-top: 180px;
  background-color: #5e9bb9;
  padding: 40px;
  border-radius: 10px;
  border: 5px double #5d1309;
  max-width: 800px;
}

.events-prompt,
h2 {
  font-family: 'Karla', sans-serif;
  font-color: #0c542a;
}

.App {
  background-color: #cccbcb;

}

body {
  background-: grey;
}

.drawing {
  min-width: 200px;
  min-height: 200px;
  padding: 20px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.button {

    min-width: 200px;
    min-height: 45px;
    background-color: #d2d2d2;
}

.button:hover {
  transition: background-color 1.5s ease;
  background-color: #9e0606;
  box-shadow: 2px 2px #666;
  transform: translateY(10px, 0.7s);
}

.button-box {
  min-height: 80px;
  min-width: 200px;
  margin: 30px;
  display: inline-block;
}

.button,
span {
  font-family: 'Staatliches', sans-serif;
  font-color: #0c542a;
  font-size: 1.1em
}

.button,
button {
  border-radius: 3em;
  font-family: 'Staatliches', sans-serif;
  font-color: #0c542a;
  font-size: 1.1em
}

.login {
  float: left;
  padding-bottom: 20px;
}


.login-toggle {
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #246ca4;
}


.form-styling {
  padding-top: 10px;
  margin-right: 8px;
  margin-left: 6px;
  margin-top: 4px;
  background-color: #5e9bb9;
  border-radius: 5px;
  min-width: 150px;
  min-height: 80px;
}

.first-form {
  font-family: 'Karla', sans-serif;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin-left: 42em;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
  border: 4px groove #52110d;
  background-color: #5e9bb9;
  max-height: 500px;
}


.save-load {
  position: fixed;
  margin-top: 550px;
  float: right;

}
.save-load button {
  border-radius: 5px;
  margin: 20px;
  border: 2px solid #3a3b3a;
  background-color: #5e9bb9;
}
.save-load button:hover {
  border-radius: 5px;
  border: 2px solid #3a3b3a;
  background-color: #5e9bb9;
  box-shadow: 2px 2px #666;
}
.save-load button:active {
  border-radius: 5px;
  border: 2px solid #3a3b3a;
  background-color: #e8481b;
  box-shadow: 2px 2px #666;
}

.error-log {
  font-family: 'Karla', sans-serif;
  position: relative;
  float: left;
  text-align: center;
  border-radius: 2px;
  padding: 30px;
  display: inline-block;
  margin-left: 630px;
  margin-top: 200px;
  border: 4px groove #52110d;
  background-color: #5e9bb9;
  max-height: 500px;
}



/* .toggle-yes {
border-radius: 3px;
background-color: #e8481b;
display: inline-block;
padding: 10px;
margin: 8px;
margin-right: 5px;
border: 2px solid #e8481b;
}

.toggle-no {
border-radius: 3px;
display: inline-block;
padding: 10px;
margin: 8px;
margin-right: 5px;
border: 2px solid #6b739c;
} */


/* .login-inputs {
font-family: 'Karla', sans-serif;
margin-left: 6px;
border-radius: 2px;
border: 2px ridge #939c87;
-webkit-box-shadow:
inset 0 0 8px  rgba(0,0,0,0.1),
0 0 16px rgba(0,0,0,0.1);
-moz-box-shadow:
inset 0 0 8px  rgba(0,0,0,0.1),
0 0 16px rgba(0,0,0,0.1);
box-shadow:
inset 0 0 8px  rgba(0,0,0,0.1),
0 0 16px rgba(0,0,0,0.1);
padding: 5px;
background: rgba(255,255,255,0.5);
}

.login-submit,
button {
border-radius: 2px;
margin: 10px;
padding: 5px;
font-family: 'Staatliches', sans-serif;
background-color: #d2d2d2;
font-color: #0c542a;
}
.login-submit:hover {
transition: background-color 1.5s ease;
background-color: #9e0606;
box-shadow: 2px 2px #666;
transform: translateY(10px, 0.7s);
} */
