.events-prompt {
  margin-top: 40px;
  background-color: #a4f27f;
  padding: 100px;
}

.buttons {
  background-color: #e8e8e8;
}

.App {
  background-color: #86868a;
}

body {
  background-: grey;
}

.drawing {
  min-width: 200px;
  min-height: 200px;
  padding: 20px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(10px, 1s);
}
